<!DOCTYPE html>
<html>
<head>
    <% include ../meta.ejs %>
    <link rel="stylesheet" href="../css/assets/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/icomoon.css"/>
    <link rel="stylesheet" href="../css/assets/user.css"/>
</head>
<body style="background-color:#e0e0e0;">
    <% include ../common/header.ejs %>
    <div class="user-main">
        <div class="user-main-body">
            <div class="user-main-body-r">
                <img src="<%= locals.user.profile_image_url %>" class="img-responsive" width="240" height="240">
                <div class="user-main-body-r-content">
                    <h4><%= locals.user.name %></h4>
                    <% if (locals.user.job) { %>
                    <p class="user-job"><%= locals.user.job %></p>
                    <% } %>
                    <% if (locals.user.profile) { %>
                    <p class="user-profile"><%= locals.user.profile %></p>
                    <% } %>
                    <ul class="list-inline">
                        <li>
                            <a href="/<%= locals.user.name %>/fans"><i class="icon icon-users"></i>fans</a>
                        </li>
                        <li>
                            <a href="/<%= locals.user.name %>/follows"><i class="icon icon-heart"></i>follows</a>
                        </li>
                    </ul>
                    <% if (locals.current_user._id.toString() !== locals.user._id.toString()) { %>
                    <button class="btn btn-success btn-follow">Follow</button>
                    <% } %>
                </div>
            </div>
            <div class="user-main-body-l">
                <ul class="timeline">
                    <% if (locals.recent_jokes && locals.recent_jokes.length > 0) { %>
                    <% locals.recent_jokes.forEach(function(joke) { %>
                    <li class="item">
                        <div class="time">
                            <span><%= joke.obj_create_time.Day %>/<%= joke.obj_create_time.Month %>/<%= joke.obj_create_time.Year %></span>
                            <span><%= joke.obj_create_time.Hour %>:<%= joke.obj_create_time.Minutes %></span>
                        </div>
                        <div class="middle"></div>
                        <div class="content">
                            <h2><%= joke.title %></h2>
                            <p>
                            <% if (joke.content) { %>
                            <%= joke.content %>
                            <% } %>
                            </p>
                            <% if (joke.pictures && joke.pictures.length > 0) { %>
                            <img src="<%= joke.pictures[0] %>" alt="share photos"
                            class="img-responsive">
                            <% } %>
                        </div>
                    </li>
                    <% }); %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
<!-- load js here -->
<script src="../js/utils/jquery-2.1-min.js"></script>
<script src="../js/utils/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    $('#btn-follow').click(function() {
        var userid = $(this).attr('data');
        var action = $(this).attr('action');
        $.ajax({
            url: '/user/follow',
            type: 'POST',
            dataType: 'json',
            data: {
                'userid': userid,
                'action': action
            }
        }).done(function(data) {
            if (data.status === 'success') {
                var $btn = $('#btn-follow');
                if (action === 'add-follow') {
                    $btn.attr('action', 'un-follow');
                    $btn.css({'color': '#ffffff', 'background-color': '#d2322d'}).html('Unfollow');
                } else {
                    $btn.attr('action', 'add-follow');
                    $btn.css({'color': '#18ab29', 'background-color': '#ffffff'}).html('Follow');
                }
            } else {
                alert('oops, something wrong.');
            }
        }).fail(function() {
            alert('oops, something wrong.')
        });
    });
});
</script>
</body>
</html>




