<!DOCTYPE html>
<html>
<head>
    <% include ../meta.ejs %>
    <link rel="stylesheet" href="../css/assets/site.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/assets/siderbar.css"/>
    <link rel="stylesheet" href="../css/assets/joke.css"/>
</head>
<body style="background: url(<%= locals.config.host %>/images/low_contrast_linen.png) repeat 0 0;">
<div class="st-container" id="st-container">
    <% include ../common/siderbar.ejs %>
    <button id="showsidebar" class="site-nav-logo">
        <span class="icons icons-logo-m"></span>
    </button>
    <div class="st-pusher">
        <div class="header">
            <div class="site-img">
                <a href="/">
                    <img src="<%= locals.user.profile_image_url %>" alt="Logo" class="img-responsive img-circle"
                         width="120" height="120"
                         tiltle="<%= locals.user.name %>"/>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 intro-info">
                        <h1>
                            <a href="/<%= locals.user.name %>/timeline"><%= locals.user.name %></a>
                        </h1>
                        <% if (locals.user.profile) { %>
                        <p style="color: #ffffff;font-size: 14px;"><%= locals.user.profile %></p>
                        <% } else { %>
                        <p style="color: #ffffff;font-size: 14px;">Programmer & artist. Creator of the Luna programming language, Koa, Express, Stylus, Cluster, Mocha, Jade, node-canvas, component and many others.</p>
                        <% } %>
                    </div>
                </div>
                <div class="row info-content">
                    <div class="col-md-6 col-xs-12">
                        <div class="jumbotron">
                            <% if (locals.joke.pictures && locals.joke.pictures.length > 0) { %>
                                <div class="jumbotron-photo">
                                    <img src="<%= locals.joke.pictures[0]%>" class="img-responsive" />
                                </div>
                            <% } %>
                            <div class="jumbotron-contents">
                                <h2><%= locals.joke.title %></h2>
                                <% if (locals.joke.content) { %>
                                <p><%= locals.joke.content %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="alert alert-success">
                            <strong>Comments</strong>
                        </div>
                        <ul class="media-list comment-list">
                            <% if (locals.comments && locals.comments.length > 0) { %>
                            <% locals.comments.forEach(function(comment){ %>
                            <li class="media">
                                <a class="pull-left" href="/<%= comment.author.name %>/timeline">
                                    <img class="media-object img-rounded img-responsive" src="<%= comment.author.profile_image_url %>"
                                            width="50" height="50">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><%= comment.author.name %></h4>
                                    <p>发表于 <%= comment.friendly_create_time %></p>
                                    <p><%= comment.content %></p>
                                </div>
                            </li>
                            <% });%>
                            <% } %>
                            <li class="media">
                                <a class="pull-left" href="/<%= locals.current_user.name %>/timeline">
                                    <img class="media-object img-circle" src="<%= locals.current_user.profile_image_url %>"
                                         width="50" height="50">
                                </a>
                                <div class="media-body">
                                    <p>
                                        <textarea id="comment-field" class="form-control" rows="1" placeholder="Add a comment..."></textarea>
                                        <button class="btn btn-success" id="post-comment" disabled="disabled"
                                                data="<%= locals.joke._id %>">Post comment</button>
                                        <button class="btn btn-default" id="cancel-comment">Cancel</button>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- load js here -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="../js/utils/site.min.js"></script>
<script>
$(document).ready(function() {
    $('#showsidebar').click(function(e) {
        e.stopPropagation();
        $('#st-container').addClass('st-effect-1 st-menu-open');
        $(this).hide('slow');
        $('body').addClass('show-sidebar-no-scroll');
    });
    $('.st-pusher').click(function() {
        $('#st-container').removeClass('st-menu-open');
        $('#showsidebar').show('slow');
        $('body').removeClass('show-sidebar-no-scroll');
    });
    var $field = $('#comment-field');
    $field.focus(function() {
        $(this).attr('rows', '3');
        $('#post-comment').show();
        $('#cancel-comment').show();
    });
    $field.keyup(function() {
        if (this.value !== '') {
            $('#post-comment').removeAttr('disabled');
        } else {
            $('#post-comment').attr('disabled', 'disabled');
        }
    });
    $('#cancel-comment').click(function() {
        $field.attr('rows', '1');
        $field.val('');
        $('#post-comment').hide();
        $('#cancel-comment').hide();
    });
    $('#post-comment').click(function() {
        var jokeid = $(this).attr('data');
        var content = $('#comment-field').val();
        $.ajax({
            url: '/comment/add-comment',
            type: 'POST',
            dataType: 'json',
            data: {
                'jokeid': jokeid,
                'content': content
            }
        }).done(function(data) {
            if (data.status === 'success') {
                var addnode = '<li class="media"><a class="pull-left" href="/<%= locals.current_user.name %>/timeline">' +
                        '<img class="media-object img-rounded img-responsive" ' +
                        'src="<%= locals.user.profile_image_url %>" width="50" height="50"></a><div class="media-body"><h4 class="media-heading"><%= locals.current_user.name %></h4><p>发表于 刚刚</p><p>'+ content +'</p></div></li>';
                $('.comment-list').prepend($(addnode));
                $field.attr('rows', '1');
                $field.val('');
                $('#post-comment').attr('disabled', 'disabled').hide();
                $('#cancel-comment').hide();
            } else {
                if (data.error) {
                    alert(data.error);
                } else {
                    alert('oops, something wrong.')
                }

            }
        }).fail(function() {
           alert('oops, something wrong.')
        });
    });
});
</script>
</body>
</html>




